*{
	margin:0px;
	padding:0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
content{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(233,198,148,1) 0%, rgba(218,148,233,1) 100%);
    
}
form{
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.input, Label{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.label_in, label{
    font-family: "Times New Roman", Georgia, Serif;
    font-size:18px;
}
.form_button{
    width: 45%;
}